@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-primary: hsl(var(--primary));
  --color-card: hsl(var(--card));
  --color-foreground: hsl(var(--foreground));

  --animate-fade-in: fade-in 0.6s ease-out forwards;
  --animate-pulse: pulse 4s ease-in-out infinite;
  --animate-ease: ease 0.3s ease-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(25px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    ,
    50% {
      opacity: 0.7;
    }
  }

  @keyframes ease {
    from {
      opacity: 0.5;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  :root {
    --background: 0 0% 94%;
    --border: 214 32% 91%;
    --card: 0 0% 100%;
    --primary: 50 60% 90%;
    --foreground: 222.2 47.4% 11.2%;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @reference bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >=640px) {
    max-width: 640px;
  }

  @media (width >=768px) {
    max-width: 768px;
  }

  @media (width >=1024px) {
    max-width: 1024px;
  }

  @media (width >=1280px) {
    max-width: 1280px;
  }

  @media (width >=1400px) {
    max-width: 1400px;
  }
}

@utility icontitle {
  @apply max-h-min *:md:flex flex flex-1 justify-center items-center p-5 text-xl font-bold text-wrap;
}

@utility general-menu {
  @apply min-h-max flex flex-col flex-1 text-gray-600 text-lg font-semibold bg-primary/30;
}

@utility nav {
  ul {
    @apply flex *:md:flex gap-4 text-center flex-col flex-1 list-none;
    li {
      @apply md:inline-flex text-wrap h-10 text-sm font-medium pt-2.5 justify-center items-start text-gray-600 hover:bg-gray-300/30 rounded-lg
      cursor-pointer transition-all duration-200 ease-in-out;
    }
  }
}

@utility pageheader {
  @apply flex flex-col text-left mb-6;
}

@utility searchbar {
  @apply flex items-center bg-card border border-border rounded-lg px-3 py-1.5 mt-5 ml-5 shadow-sm;
  input {
    @apply flex-1 bg-transparent outline-none text-sm text-foreground placeholder:text-gray-400;
  }
  svg {
    @apply text-gray-400;
  }
}

@utility icon {
  @apply relative top-10 left-7.25 text-gray-400;
  transform: translateY(50%);
}

@utility bell {
  @apply border-1 rounded-sm relative left-3/4 bottom-7;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
